@import "vars";
@import "mixin";

.board {
  width: 1200px;
  margin: 0 auto 100px auto;
  .boardTitle {
    h1 {
      margin: 100px 0 20px 0;
      font-size: 32px;
      font-weight: 700;
      color: #000;
    }
    .boardTitleDesc {
      margin-bottom: 50px;
      p {
        font-size: 16px;
        line-height: 1.5;
        span {
          margin-right: 5px;
          color: #ff8a33;
        }
      }
    }
  }
}
form {
  dl {
    dt {
      display: inline-block;
      margin-bottom: 15px;
      font-size: $font-nomal -1px;
      &.required {
        position: relative;
        &:after {
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          top: -2px;
          right: -13px;
          content: "";
          background-color: #ff8a33;
          border-radius: 100%;
        }
      }
    }
    dd {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      font-size: 16px;
      .privacy {
        width: 1200px;
        height: 180px;
        overflow: hidden auto;
        padding: 30px;
        border: 1px solid #e6e8ea;
        font-size: 15px;
        font-weight: 300;
        color: #000;
        letter-spacing: 1.2px;
        border-radius: 8px;
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
  .agreeBtn {
    padding: 12px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    background-color: #f2f4f6;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $main-color;
    }
  }
}
input[type="radio"],
input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  padding: 0;
}
input[type="text"] {
  width: 500px;
  padding: 11px 17px;
  border: 1px solid #e6e8ea;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-radius: 8px;
  &:focus {
    border-color: #2b66f6;
  }
  &.zipCode {
    width: 350px;
  }
}
textarea {
  width: 1200px;
  height: 200px;
  padding: 11px 17px;
  border: 1px solid #e6e8ea;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-radius: 8px;
  resize: none;
}
label {
  &.interest {
    width: 240px;
    margin-bottom: 25px;
    span {
      display: flex;
      align-items: center;
      &:before {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border: 1px solid #e6e8ea;
        box-sizing: border-box;
        content: "";
        border-radius: 100%;
      }
    }
  }
  &.route {
    margin-right: 30px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border: 1px solid #e6e8ea;
        box-sizing: border-box;
        content: "";
        border-radius: 3px;
      }
    }
  }
  .zipCodeBtn {
    width: 120px;
    margin-left: 10px;
    padding: 10px 11px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    background-color: $main-color;
    cursor: pointer;
    &:hover {
      border: 1px solid $main-color;
      color: $main-color;
      background-color: #fff;
    }
  }
}
input[type="radio"]:checked ~ span::before {
  border: none;
  background-color: #2b66f6;
}
input[type="checkbox"]:checked ~ span::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: "Material Icons";
  font-size: 24px;
  color: #fff;
  content: "\e5cf";
  background-color: $main-color;
}
