@import "vars";
@import "mixin";

body {
  font-family: "Lexend", "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #555;
}
a {
  color: inherit;
  text-decoration: none;
}
.blind {
  display: none;
}
#header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-color: #fff;
  &:after {
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 80px;
    left: 0;
    transform: scale(0);
    transition: transform 1.5s ease;
    content: "";
    background-color: #e9e9e9;
  }
  &:hover {
    height: 230px;
    &:after {
      transform: scale(1);
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 94.5%;
    margin: 0 auto;
    #logo {
      display: inline-block;
      line-height: 80px;
    }
    #gnb {
      width: 700px;
      .gnbList {
        display: flex;
        justify-content: space-between;
        > li {
          width: 94px;
          position: relative;
          text-align: center;
          &:after {
            display: block;
            width: 0px;
            height: 2px;
            position: absolute;
            top: 79px;
            left: 0;
            z-index: 2;
            transition: all 0.25s ease-in;
            content: "";
            background-color: $main-color;
          }
          &:hover {
            &:after {
              width: 100px;
            }
          }
          .depth01 {
            display: inline-block;
            width: 94px;
            height: 80px;
            position: relative;
            font-size: $font-small;
            font-weight: 600;
            color: #222;
            line-height: 80px;
            transition: all 0.2s ease;
            &:hover {
              color: $main-color;
            }
          }
          .depth02 {
            padding-top: 20px;
            text-align: center;
            li {
              padding: 10px 0;
              font-weight: 600;
              color: #222;
              &:hover {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
  .purunet {
    line-height: 80px;
    a {
      margin-right: 15px;
      font-size: $font-nomal;
      font-weight: 600;
      color: $main-color;
      span {
        position: relative;
        &:before {
          display: block;
          width: 18px;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          content: "";
          background-color: $main-color;
        }
        &:after {
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          top: 48%;
          left: 20px;
          border: 2px solid $main-color;
          border-bottom: none;
          border-left: none;
          transform: rotate(45deg) translateY(-50%);
          content: "";
        }
      }
    }
  }
}
#footer {
  width: 100%;
  padding: 50px 0 80px 0;
  background-color: #f4f4f4;
  .footerWrap {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    .infoBox {
      .infoLinkBox {
        font-size: 15px;
        color: #b2b8c0;
        a {
          margin-right: 30px;
        }
      }
      .addressBox {
        margin: 50px 0 30px 0;
        .fLogo {
          margin-bottom: 20px;
        }
        p {
          font-size: 13px;
          line-height: 1.5;
        }
      }
      .snsBox {
        position: relative;
        ul {
          display: flex;
          li {
            margin-right: 5px;
            img {
              cursor: pointer;
            }
          }
        }
        .snsHover {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          li {
            margin-right: 5px;
            img {
              width: 36px;
              height: 36px;
              opacity: 0;
              cursor: pointer;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .familySite {
      width: 300px;
      strong {
        font-size: 17px;
        font-weight: 700;
      }
      .familySiteLinkWrap {
        display: flex;
        margin-top: 25px;
        .familySiteLink {
          margin-right: 50px;
          a {
            display: inline-block;
            position: relative;
            margin-bottom: 15px;
            color: #6d7683;
            &:after {
              position: absolute;
              top: 0;
              right: -20px;
              content: url("../images/layout/icon-fav-2.png");
            }
          }
        }
      }
    }
  }
}
