@import "vars";
@import "mixin";

#mainVisual {
  height: 800px;
  position: relative;
  .mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    h2 {
      font-size: 60px;
      font-weight: 700;
      color: #000;
      line-height: 1.5;
    }
  }
}
