body {
  font-family: "Noto Sans KR", "Nanum Gothic", sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 1.6;
  letter-spacing: -0.02em;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
#header {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 99;
  background-color: #fff;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 80px;
    height: 1px;
    width: 100%;
    background-color: #eee;
    opacity: 0;
  }
  &.on {
    height: 380px;
    transition: all 0.25s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &.on:after {
    opacity: 1;
  }
  .container {
    width: 95vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    height: 80px;
    #logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    #gnb {
      .list {
        display: flex;
        position: relative;
        li {
          &:hover {
            @for $i from 1 through 5 {
              .inner0#{$i} {
                display: block;
              }
            }
          }
          .depth01 {
            height: 80px;
            line-height: 80px;
            padding: 0 30px;
            color: #a3a3a3;
            font-size: 16px;
            letter-spacing: 0.02em;
            font-weight: 700;
            &:hover {
              color: #ed1c24;
              transition: color 0.2s ease-in-out;
            }
          }
          .inner02 {
            display: none;
            position: absolute;
            width: 715px;
            height: 300px;
            top: 80px;
            left: 0;
            padding: 30px 0 0 200px;
            // &.on {
            //   display: block;
            // }
          }
          .inner03 {
            display: none;
            position: absolute;
            width: 715px;
            height: 300px;
            top: 80px;
            left: 0;
            padding: 30px 0 0 300px;
            // &.on {
            //   display: block;
            // }
          }
          .inner04 {
            display: none;
            position: absolute;
            width: 715px;
            height: 300px;
            top: 80px;
            left: 0;
            padding: 30px 0 0 400px;
            // &.on {
            //   display: block;
            // }
          }
          .inner05 {
            display: none;
            position: absolute;
            width: 715px;
            height: 300px;
            top: 80px;
            left: 0;
            padding: 30px 0 0 520px;
            // &.on {
            //   display: block;
            // }
          }
          .depth02 {
            // padding-top: 30px 0 80px 0;

            font-weight: 700;
            font-size: 15px;
            line-height: 1.7;
            transition: all 0.25s ease-in-out;
            // &.on {
            //   display: block;
            // }
            > li {
              &:hover {
                color: #ed1c24;
                transition: color 0.2s ease-in-out;
              }
            }
          }
          .inner01 {
            width: 1000px;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            // &.on {
            //   display: block;
            // }
            ul {
              display: flex;
              justify-content: center;
              .innerDepth02 {
                display: block;
                position: relative;
                padding: 30px 40px;

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  height: 230px;
                  width: 2px;
                  background-color: #eee;
                  top: 30px;
                  left: 0;
                }
                &:nth-child(1):after {
                  display: none;
                }

                > a {
                  font-weight: 700;
                  font-size: 15px;
                }
                .depth03 {
                  display: flex;
                  flex-direction: column;
                  margin-top: 15px;
                  font-size: 14px;
                  font-weight: 400;
                  color: #868686;
                  line-height: 1.7;
                  li {
                    &:hover {
                      color: #ed1c24;
                      transition: color 0.2s ease-in-out;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #headerRight {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      display: flex;
      align-items: center;
      a {
        margin-left: 15px;
      }
      ul {
        li {
          .searchBox {
            position: relative;
            .textBox {
              width: 333px;
              height: 46px;
              display: flex;
              justify-content: center;
              border: none;
              border-radius: 30px;
              background-color: #f5f5f5;
              input {
                width: 300px;
                border: none;
                border-radius: 30px;
                background-color: #f5f5f5;
                font-size: 15px;
                color: #757575;
                font-weight: 700;
              }
            }
            .searchIcon {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 15px;
            }
          }
          .depth02 {
            display: none;
          }
        }
      }
    }
    .cart {
      position: relative;
      .cartCount {
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        top: 0;
        right: -7px;
        border: none;
        border-radius: 100%;
        background-color: #ed1c24;
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 16px;
        font-weight: 700;
      }
    }
  }
}
// header end
