@import "vars";
@import "mixin";

#mainVisual {
  .container {
    max-width: 100vw;
    height: calc(100vh - 80px);
    position: relative;
    top: 80px;
    left: 0;
    ul {
      li {
        background: {
          repeat: no-repeat;
          size: contain;
        }
        @for $i from 1 to 6 {
          &.visual0#{$i} {
            background-image: url("../images/main/mainVisual0#{$i}.jpg");
            .textBox {
              position: absolute;
              top: 50%;
              left: 150px;
              transform: translateY(-75%);
              line-height: 1.5;
              .txt01 {
                font-size: 35px;
                span {
                  margin-left: 10px;
                  font-weight: 700;
                }
              }
              h1 {
                font-size: 64px;
                font-weight: 900;
              }
              .more {
                a {
                  display: block;
                  width: 300px;
                  height: 60px;
                  margin-top: 50px;
                  overflow: hidden;
                  background-color: #ff0000;
                  font-weight: 500;
                  font-size: 15px;
                  color: #fff;
                  text-align: center;
                  line-height: 60px;
                  letter-spacing: 1.1px;
                  &:hover {
                    img {
                      transform: translateX(50px);
                      opacity: 0;
                      transition: all 0.2s ease-in-out;
                    }
                    span {
                      margin-right: 0;
                      transition: all 0.4s ease-in-out;
                    }
                  }
                  span {
                    margin-right: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .visual03 {
        .white {
          color: #fff;
        }
      }
      .visual05 {
        .green {
          color: #508879;
        }
      }
    }
    .pagination {
      position: absolute;
      top: 15%;
      left: 160px;
      z-index: 100;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 0;
        opacity: 1;
        background-color: #ccc;
        transition: all 0.25s ease-in-out;
        position: relative;
        &:after {
          @include pseudo;
          @include box(0, 100%, #f00);
        }
        &-active::after {
          width: 220%;
          transition: width 0.25s ease-in-out;
        }
      }
    }
  }
  .btn {
    position: absolute;
    top: 35%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 100%;
    z-index: 999;
    &:hover {
      transform: scale(1.15);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
      background-color: #ff0000;
      .material-icons {
        color: #fff;
      }
    }
    &.prev {
      left: 30px;
    }
    &.next {
      right: 30px;
    }
    .material-icons {
      color: #ccc;
      font-size: 26px;
    }
  }
}
// mainVisual 완성!

#category {
  position: relative;
  .container {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 900px;
    height: 180px;
    padding: 0 80px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textBox {
      h2 {
        font-size: 24px;
        font-weight: 700;
        position: relative;
        &:after {
          content: "";
          width: 4px;
          height: 4px;
          background-color: #f00;
          display: block;
          position: absolute;
          bottom: 25%;
          left: 42%;
        }
      }
      p {
        font-size: 14px;
        font-weight: 700;
        span {
          color: #f00;
        }
      }
    }
    .contents {
      display: flex;
      .content {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
          .image {
            background-color: rgb(241, 29, 29);
          }
          .txt {
            color: #f00;
          }
        }
        .image {
          position: relative;
          display: block;
          width: 85px;
          height: 85px;
          border-radius: 100%;
          background-color: #f8f0f0;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px;
          transition: all 0.25s ease-in-out;
          &:hover {
            .img02 {
              display: block;
            }
          }
          .img02 {
            position: absolute;
            top: 5px;
            left: 4px;
            display: none;
            z-index: 100;
            // &.on {
            //   display: block;
            // }
          }
        }
      }
      .txt {
        font-weight: 700;
        font-size: 15px;
        transition: all 0.25s ease-in-out;
      }
    }
  }
}
//category 완성!!
#product {
  position: relative;
  .container {
    max-width: 1100px;
    margin: 250px auto 100px auto;
    .titleBox {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
      h2 {
        font-size: 40px;
        font-weight: 800;
        position: relative;
        margin-right: 70px;
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 23%;
          right: -2%;
          width: 7px;
          height: 7px;
          background-color: #f00;
        }
      }
      .period {
        display: flex;
        padding-bottom: 10px;
        font-size: 20px;
        .week {
          .weekBtn {
            color: #f00;
            border-bottom: 2px solid #f00;
            margin-right: 15px;
            font-weight: 500;
            &.on {
              color: #c6c6c6;
              font-weight: 300;
              border: none;
            }
          }
        }
        .month {
          .monthBtn {
            color: #c6c6c6;
            font-weight: 300;
            &.on {
              color: #f00;
              border-bottom: 2px solid #f00;
              font-weight: 500;
            }
          }
        }
      }
      .view {
        margin: 0 20px 0 auto;
        a {
          display: block;
          padding: 12px 20px;
          border: 1px solid #bbb;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 700;
          img {
            width: 29px;
            margin-left: 5px;
          }
        }
      }
    }
    .inner {
      .pannel {
        overflow: hidden;

        ul {
          display: flex;
          li {
            .titleImg {
              position: relative;
              transition: all 0.25s ease-in-out;
              &.on {
              }
              &:hover {
                animation-name: filterAnimation;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                .icons {
                  display: block;
                }
              }
              a {
                img {
                  width: 260px;
                  height: 260px;
                  border-radius: 0 0 30px 0;
                }
              }
              .tag {
                position: absolute;
                bottom: -5px;
                left: 0;
                display: flex;
                img {
                  display: block;
                  width: 45px;
                  height: 25px;
                }
              }
              .icons {
                display: none;
                color: #fff;
                .icon1 {
                  display: block;
                  position: absolute;
                  bottom: 20px;
                  right: 80px;
                  width: 45px;
                  height: 45px;
                  border-radius: 100%;
                  background-color: rgba(0, 0, 0, 0.1);
                  line-height: 60px;
                  text-align: center;
                  transition: all 0.25s ease-in-out;
                  &:hover {
                    color: #f00;
                  }
                }
                .icon2 {
                  display: block;
                  position: absolute;
                  bottom: 20px;
                  right: 30px;
                  width: 45px;
                  height: 45px;
                  border-radius: 100%;
                  background-color: rgba(0, 0, 0, 0.1);
                  line-height: 60px;
                  text-align: center;
                  transition: all 0.25s ease-in-out;
                  &:hover {
                    color: #f00;
                  }
                }
              }
            }
            .desc {
              display: block;
              margin: 30px 0 5px 0;

              a {
                line-height: 1.7;
                strong {
                  font-size: 18px;
                  font-weight: 700;
                }
                p {
                  color: #999;
                  font-size: 16px;
                }
              }
            }
            .price {
              pointer-events: none;
              strong {
                font-weight: 700;
                font-size: 21px;
                color: #f00;
                span {
                  font-weight: 100;
                  font-size: 15px;
                }
              }
              small {
                font-weight: 700;
                font-size: 15px;
                color: #bbb;
                text-decoration-line: line-through;
                span {
                  font-size: 13px;
                  font-weight: 100;
                }
              }
              span {
                font-size: 22px;
                font-weight: 800;
              }
            }
          }
        }
      }
    }
  }
  #weekly {
    &.on {
      display: none;
    }
  }
  #monthly {
    display: none;
    &.on {
      display: block;
    }
  }
  .btn {
    position: absolute;
    top: 35%;
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 200;
    &:hover {
      transform: scale(1.15);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      background-color: #ff0000;
      border: none;
      .material-icons {
        color: #fff;
      }
    }
    &.prev {
      left: 30px;
    }
    &.next {
      right: 30px;
    }
    .material-icons {
      color: #aaa;
      font-size: 26px;
    }
  }
  .pagination {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 1100px;
    height: 50px;
    display: flex;
    .swiper-pagination-bullet {
      width: 1100px;
      height: 4px;
      border-radius: 0;
      opacity: 1;
      background-color: #ccc;
      transition: all 0.25s ease-in-out;
      position: relative;
      &:after {
        @include pseudo;
        @include box(0, 100%, #f00);
      }
      &-active::after {
        width: 100%;
        transition: width 0.25s ease-in-out;
      }
    }
  }
}
@keyframes filterAnimation {
  0% {
    filter: brightness(110%);
  }
  100% {
    filter: brightness(100%);
  }
}
