#mainVisual { height: 800px; position: relative; }

#mainVisual .mainTitle { position: absolute; top: 50%; left: 50%; transform: translate(-50%); }

#mainVisual .mainTitle h2 { font-size: 60px; font-weight: 700; color: #000; line-height: 1.5; }
